.navBar{
    display: flex;
    justify-content: space-between;
    background-color: rgba(86, 5, 218, 0.411);
}

.navBarList{
    display: flex;
    list-style: none;
    margin: 20px;
}

.navBarList li{
    margin: 10px;
}

.navBarList li a{
    text-decoration: none;
    color: rgb(248, 247, 234);
}

.icon{
    margin: 20px 60px;
    padding: 20px;
    display: flex;
    flex-direction: row;
}